# Interface: TestResult

Defined in: prisma-airs-cli/src/core/types.ts:57

## Properties

### actualTriggered

> **actualTriggered**: `boolean`

Defined in: prisma-airs-cli/src/core/types.ts:59

***

### correct

> **correct**: `boolean`

Defined in: prisma-airs-cli/src/core/types.ts:63

***

### reportId

> **reportId**: `string`

Defined in: prisma-airs-cli/src/core/types.ts:62

***

### scanAction

> **scanAction**: `"allow"` \| `"block"`

Defined in: prisma-airs-cli/src/core/types.ts:60

***

### scanId

> **scanId**: `string`

Defined in: prisma-airs-cli/src/core/types.ts:61

***

### testCase

> **testCase**: [`TestCase`](TestCase.md)

Defined in: prisma-airs-cli/src/core/types.ts:58
